body {
    background-image: url("city.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #00ffff;
    text-decoration: none;
    font-size: 15px;
}

a:hover {
    color: #ff09ff;
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in {
    opacity: 0;
    animation: fadein 2.5s forwards;
}
.container {
    text-align: center;
    margin-top: 60px;
    color: white;
}

.title {
    font-size: 35px;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    width: 250px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    color: white;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background: rgba(0, 0, 0, 0.8);
}
