body {
    background-image: url("city.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #00ffff;
    text-decoration: none;
    font-size: 15px;
}

a:hover {
    color: #ff09ff;
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in {
    opacity: 0;
    animation: fadein 2.5s forwards;
}
